[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
pycodestyle = "*"
pylint = "*"
flask = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
python-dotenv = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
wtforms = "*"
flask-wtf = "*"
gunicorn = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
pytest-dotenv = "*"

[requires]
python_version = "3.8"
